<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathShare</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="nav-bar">
        <div class="nav-container">
            <div class="logo">
                <a href="#">Logo</a>
            </div>
            <div class="nav-content">
                <div class="nav-menu">
                    <a href="/auth/login" class="login">Login</a>
                    <a href="/auth/signup" class="signup">Signup</a>
                </div>
            </div>
        </div>
    </div>
    <h1>Bem-vindo ao acervo de materiais voltados para o curso de matemática da Unesp</h1>
    
</body>
</html>
